@model ProjectViewModel
@{
    ViewData["Title"] = "Project";
}

<h1>@Model.Project.Title</h1>
<div class="float-right">
    <input class="m-1" type="submit" value="Donate" />
</div>
@if (Model.Project.ImageUrl != null)
{
    
        <div class="text-center">
    <img src="@Url.Content(Model.Project.ImageUrl)" class="img-fluid rounded"  />
        </div>
    
}
<p> @Model.Project.ShortDescription</p>
<p> @Model.Project.Body</p>

@if (Model.UserId == Model.CreatedBy || Model.AdminRole)
{

    <div>
        <p>
            <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Project.Id">
                Edit
            </a>

            <a asp-controller="Home" asp-action="Remove" asp-route-id="@Model.Project.Id">
                Remove
            </a>
        </p>
    </div>
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Comments">Comments</a>
         </div>
</nav>

