@model ProjectViewModel
@{
    ViewData["Title"] = "Project";
}

<h1>@Model.ProjectTitle</h1>
<p> @Model.ProjectDescription</p>
<p> @Model.ProjectBody</p>

@if (Model.UserId == Model.CreatedBy || Model.AdminRole)
{

<div>
    <p>
        <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.ProjectId">
            Edit
        </a>

        <a asp-controller="Home" asp-action="Remove" asp-route-id="@Model.ProjectId">
            Remove
        </a>
    </p>
</div>
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <ul>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Project" >Project Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Project">Comments</a>
                </li>
            </ul>
        </div>
    </ul>
</nav>

